/* CSS Document */
*,
*::after,
*::before {
  box-sizing: border-box;
}

/****/
/*********************************************************************************** Algemene stijlen */
/****/
body {
  font-family: "Source Sans Pro", Roboto;
  margin: 0;
  width: 100vw;
  height: auto;


}

body.toonMenu {
  transform: translateX(50%);
  transition: 0.5s;
}

img {
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

h2 {
  margin-right: 0;
  padding: 0;
  display: inline-block;
}

/****/
/**************************************************************************************************************HEADER*/
/****/

header {
  position: relative;
  width: 100vw;
  height: 70vh;


}

/****/
/*selecteerd de link en geeft deze een afmeting*/
/****/
nav a:first-of-type {
  padding: 1em;
  width: 10em;
  height: 2em;
}

a img {
  width: 100%;
  object-fit: contain;
}

/****/
/*Navigatie balk, door positie absolute met daarbij 
een top:0 left&right:0 komt de navigatiebalk bovenin te staan*/
/****/
nav {
  position: absolute;
  z-index: 2;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  top: 0;
  left: 0;
  right: 0;

}

/*MENU button */
nav p {
  color: white;
  font-weight: bold;
  font-size: 1em;
  padding: 1em;
  padding-right: 1em;
  margin: 0;
  right: 0;

}

/****/
/*met deze code wordt de menubalk buiten beeld geplaatst*/
/****/
nav ul {
  position: fixed;
  top: 0;
  left: 0;
  right: 50vw;
  bottom: 0;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  background-color: white;
  align-items: center;
  max-width: 100vw;
  transform: translateX(-100%);

}

/****/
/*de class toonMenu wordt toegevoegd met JS, waarna de menubalk zichtbaar wordt*/
/****/
nav.toonMenu ul {
  transition: 0.5s;
  height: 100vh;
}

nav ul a {
  text-decoration: none;
  font-size: 2em;
  font-weight: bold;
  color: black;
  padding-top: 1em;

}

/****/
/*bij een scherm groter dan 992px is de menubalk zichtbaar op het scherm en verdwijnt de menu button*/
/****/

@media screen and (min-width: 62em) {
  nav ul {
    position: sticky;
    z-index: 3;
    top: 0;
    right: 0;
    flex-direction: row;
    align-items: flex-start;
    background-color: transparent;
    transform: none;
    padding-top: 1em;


  }

  nav ul a {
    color: white;
    font-size: 1em;
    padding: 1em;


  }

  nav p {
    display: none;
  }
}

/****/
/*Hier wordt de afbeelding van het logo in het midden van het scherm geplaatst, met de z-index van 1 wordt de afbeelding boven de video geplaatst*/
/****/
header>img {
  position: absolute;
  top: calc(50% - 5em);
  left: calc(50% - 5em);
  z-index: 1;
  width: 10em;
  height: 10em;

}

video {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/***********************************************************************************************************************/
/*MAIN*/
/****/


/****/
/*Section 1 SUBSCRIPTION*/
/****/

section:first-of-type {
  background-color: black;
  margin: 0;
  padding: 3.5em;
}

section:first-of-type ul {
  padding: 2em;
}

section:first-of-type li {
  padding: 0.5em;
  color: white;
}

section:first-of-type p {
  font-weight: bold;
  padding: 1em;
  padding-top: 0;
  margin: 0;
  color: white;
}


section:first-of-type H2 {
  padding: 0;
  margin-top: 0.225em;
  color: white;

}


/****/
/*Bij een scherm groter dan 400px krijgen de a elementen die in de div met de class button-subscription een display flex en komen hierdoor 
naast elkaar te staan*/
/****/
@media screen and (min-width:20em) {

  .buttons-subscription {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;

  }
}

/****/
/*hier worden de a elementen geselecteerd waarvan de parent element een div is in de eerste section*/
/****/
section:first-of-type div>a {

  display: block;

  padding: 0.75em 2.5em;
  margin: 0.5em;

  background-color: yellow;
  text-decoration: none;
  text-align: center;
  color: black;
  font-weight: bold;


}


section:first-of-type img {
  position: relative;
  width: 100%;
  height: auto;
  margin: 0;
  max-width: 40em;

}

/****/
/*Bij een scherm groter dan 800px komt er op de section een grid*/
/****/

@media screen and (min-width:50em) {
  section:first-of-type {
    display: grid;
    padding: 4em;
    grid-template-columns: 1fr 1fr 10px 1fr 1fr;
    grid-template-rows: repeat(5, min-content);
    align-items: center;

  }

  section:first-of-type>h2 {
    grid-column-start: 1;
    grid-column-end: 5;
    margin: 0;
    padding: 0;
    font-size: 3em;

  }

  section:first-of-type p:first-of-type {
    grid-column-start: 1;
    grid-column-end: 3;
    display: inline-block;
    margin: 0;
    padding: 0.225em;
    grid-row-start: 2;

  }

  section:first-of-type ul {
    padding: 2em;
    grid-column-start: 1;
    grid-column-end: 3;

  }

  section:first-of-type li {
    padding: 0.225em;
  }

  section:first-of-type img {
    grid-column-start: -1;
    grid-column-end: -3;
    grid-row-start: 2;
    grid-row-start: 2;
    grid-row-end: span 5;

    justify-self: center;
  }

  section:first-of-type p {
    grid-column-start: 2;
  }

  section:first-of-type .buttons-subscription {
    grid-column-start: 1;
    grid-column-end: span 2;
  }
}


/************************************************************************************************Section 2  EVENTS ************/

section:nth-of-type(2) {
  position: relative;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  width: 100vw;
  height: auto;

}

section:nth-of-type(2) h2 {
  position: relative;
  left: calc(50vw - 2.5em);
  font-size: 1.5em;

}

section:nth-of-type(2) ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(28em, 1fr));
}

section:nth-of-type(2) li {
  position: relative;
  width: 100%;
  height: 70vh;
  max-width: 100vw;

}


section:nth-of-type(2) img {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

section:nth-of-type(2) h3 {
  position: absolute;
  bottom: 1.75em;
  left: 1em;
  z-index: 2;
  color: white;
  font-size: 2em;
  margin: 0;

}

section:nth-of-type(2) p {
  position: absolute;
  color: white;
  bottom: 0em;
  left: 1.5em;
  font-size: 1.25em;
}

section:nth-of-type(2)>a {
  position: relative;
  left: calc(50% - 5em);

  display: flex;
  width: 10em;
  height: 3em;
  margin-top: 1em;
  text-decoration: none;
  color: white;
  background-color: #F7004A;
  font-size: 1em;

  text-align: center;
  align-items: center;
  justify-content: center;

  border-radius: 0.125em;

}

/*Section Merchandise **********/

section:nth-of-type(3) {
  position: relative;
  width: 100%;

}

section:nth-of-type(3) ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16em, 1fr));

}

section:nth-of-type(3) h2 {
  position: relative;
  left: calc(50vw - 2.5em);
  font-size: 2em;
}

section:nth-of-type(3) li {
  max-width: 100vw;
  padding: 0.5em;


}

section:nth-of-type(3) img {
  width: 100%;
  height: auto;
  object-fit: contain;

}

section:nth-of-type(3)>a {
  position: relative;
  left: calc(50% - 5em);

  display: flex;
  width: 10em;
  height: 3em;
  margin-top: 1em;
  padding: 1em;
  text-decoration: none;
  color: white;
  background-color: #F7004A;
  font-size: 1em;

  text-align: center;
  align-items: center;
  justify-content: center;

  border-radius: 0.125em;

}

/*Section aftermovie*******/

section:nth-of-type(4) h2 {
  position: relative;
  left: calc(50vw - 2em);
  font-size: 2em;
}

.youtube {
  position: relative;
  width: 100%;
  height: auto;
  padding-bottom: 56.25%;
}

.youtube iframe {
  position: absolute;
  padding: 1em;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

section:nth-of-type(4)>a {
  position: relative;
  left: calc(50% - 5em);

  display: flex;
  width: 10em;
  height: 3em;
  margin-top: 1em;
  text-decoration: none;
  color: white;
  background-color: #F7004A;
  font-size: 1em;

  text-align: center;
  align-items: center;
  justify-content: center;

  border-radius: 0.125em;

}

/*Section Maillijst **********/

section:nth-of-type(5) {
  position: relative;
  width: 100%;
  height: 30em;
  margin-top: 1em;
}

section:nth-of-type(5) img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

section:nth-of-type(5) h2 {
  position: absolute;
  z-index: 1;
  left: 1em;

  color: white;
  font-size: 1.5em;

}

section:nth-of-type(5) p {
  position: absolute;
  z-index: 1;
  bottom: 4em;
  left: 1em;

  color: white;
  font-weight: bold;

}

section:nth-of-type(5) a {
  position: absolute;
  z-index: 1;
  bottom: 1em;
  left: calc(50% - 4em);

  display: flex;
  width: 8em;
  height: 2em;
  margin-top: 1em;
  text-decoration: none;
  color: black;
  font-weight: bold;

  background-color: white;
  font-size: 1em;

  text-align: center;
  align-items: center;
  justify-content: center;

  border-radius: 0.125em;
}


/*Footer ************/
footer {
  position: relative;
  width: 100%;
  height: 60vh;
  margin-top: 2em;
}

footer video {
  position: absolute;
  width: 100%;
  height: 100%;
}

footer>img {
  position: absolute;
  z-index: 1;
  top: calc(50% - 2.5em);
  left: calc(50% - 2.5em);
  width: 5em;
  height: 5em;

}

footer ul:first-of-type {
  position: absolute;
  left: calc(50% - 4em);
  top: calc(75% - 4em);
  z-index: 2;
  display: flex;
  justify-content: space-around;
  list-style: none;
  justify-content: center;
  align-items: center;


}

footer ul:last-of-type {
  position: absolute;
  left: calc(50% - 9.5em);
  top: calc(85% - 2em);
  z-index: 2;
  bottom: 0;

  display: flex;
  list-style: none;

}

footer ul:last-of-type a {
  flex-direction: row;
  color: white;
  padding: 0.5em;
  text-decoration: none;


}

footer ul:last-of-type a:hover {
  text-decoration: underline;

}

footer p {
  position: absolute;
  z-index: 2;
  bottom: 1em;
  left: calc(50% - 5em);
}

footer li img {
  z-index: 1;
  width: 2em;
  height: 2em;
  flex-direction: row;
  padding: 0.125em;
  padding: 0.5em;

}


/*EVENTS PAGINA! *****************************************************************************************************/

#event-pagina H2 {
  color: black;
  display: inline-block;
  padding: 0;
  margin: 0;
}

#event-pagina p {
  color: black;
  padding: 0;
  margin: 0;
  margin-left: 0.5em;
  line-height: 1.5em;
  display: block;
}

#event-pagina li a {
  padding: 0;
  background-color: white;
}

#event-pagina li a:first-of-type {
  background-color: transparent;

}

.event-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;

}

#event-pagina .events>a {

  padding: 1em;
  width: 30%;
  position: relative;
  left: calc(50% - 5em);

  display: flex;
  width: 10em;
  height: 3em;
  margin-top: 1em;
  text-decoration: none;
  color: white;
  background-color: #F7004A;
  font-size: 1em;

  text-align: center;
  align-items: center;
  justify-content: center;


  border-radius: 0.125em;
}

#event-pagina .event-buttons a {
  padding: 1em;
  width: 30%;

}

#event-pagina .event-buttons a:first-of-type {
  background-color: blue;
}

#event-pagina .event-buttons a:last-of-type {
  background-color: green;
}

#event-pagina ul {
  padding: 0;
  z-index: 3;

}

body#event-pagina header {
  position: relative;
  width: 100%;
  height: 45vh;
  overflow: hidden;

}

#event-pagina nav {
  position: sticky;
  top: 0;
  bottom: 0;
  background-color: white;
  padding: 1em;
}

#event-pagina nav a {
  color: black;
}

#event-pagina nav a:first-of-type {
  padding: 0;
}

#event-pagina nav li {
  padding: 0.5em;
}

#event-pagina header img.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  object-fit: contain;

}

@media screen and (min-width: 62em) {

  #event-pagina nav p {
    display: none;

  }
}

#event-pagina section {
  display: inline;
  background-color: white;
  padding: 3em;
}

#event-pagina h1 {
  position: absolute;
  left: calc(55vw - 2em);
  bottom: 1em;

  font-weight: bold;
  font-size: 4em;

  color: white;
  z-index: 2;
}

#event-pagina section ul {
  background-color: white;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(24em, 1fr));
  gap: 1.5em;
  padding: 0.5em;

}

#event-pagina .events li {
  position: relative;
  height: auto;
  max-width: 24em;
  /* padding: 0.5em; */
  width: 95vw;
  align-self: center;



  background-color: gainsboro;
  list-style: none;
}

#event-pagina .events li img {

  width: 100%;
  height: auto;
  object-fit: cover;
}